html,
body {
  margin:0;
  font-family:Arial;
  width: 100%;
  display: flex;
}



.btn a,
.sidebar-content a,
.sidebar-header a
{
  color: inherit;
  text-decoration: none;
}


.boxen{
border-width: 1px;
border-color: #B40404;
border-style:solid;
width:80%;
height:300px;
margin-left:200px;
background-color:#FAFAFA;
float:right;
}

.boxen2{
border-width: 1px;
border-color: #B40404;
border-style:solid;
width:80%;
height:550px;
background-color:#FAFAFA;
margin-top:100px;
margin-left:300px;
padding:5px;
}

#raspberry-box{
  border-width: 1px;
  border-color: #B40404;
  border-style:solid;
  width:80%;
  height:320px;
  margin-left:200px;
  background-color:#FAFAFA;
  text-align:left;
}



.btn{
  color:black;
  font-family: Arial;
  font-size:30px;
  font-weight:50;
  text-align:center;
  padding:10px ;
  margin: 0 auto;
  transition-duration: 200ms;

}

.btn:hover{
  background-color:#D8D8D8;
}

.inhalt{
  background-color:#D8D8D8;
  width:90%;
  flex-grow:1;
  display:flex;
  flex-direction:column;

}
.bilder{
  margin-left:0 auto;
  margin-right:0 auto;
}

.texte{
  text-align: left;
  font-family:Arial;
  padding:10px;
}
p::first-letter {
  font-size: 30px;
  color:#B40404;
}

.sidebar {
  display:flex;
  flex-direction:column;
  background-color:#424242;
  width:10%;
  height:100%;
  position:fixed;
  color:White;
  font-size:15px;
  text-align:center;
}

.sidebar-header{
  background:#424242;
  height:80px;
  padding-top:40%;
  padding-bottom:20%;
  color:#b40404;
}

.sidebar-content{
  flex-grow:1;
  background:#424242;
}

.sidebar-header:hover{
  color:white;
}
.sidebar-content:hover{
  color:#b40404;
}
