body{margin:0;font-family:Arial;}
.navbar{
  width:100%;
  height:40px;
}


#itm1{
	width:5%;
	height:40px;
	float:right;
	background-color:#424242;
  text-align:center;
  color:white;
  transition-duration: 222ms;
  font-size:20px;
}
#itm2{
	width:5%;
	height:40px;
	float:right;
	background-color:#424242;
  text-align:center;
  color:white;
  font-size:20px;
  transition-duration: 222ms;
}
#itm3{
  width:5%;
  height:40px;
  float:right;
  background-color:#424242;
  text-align:center;
  color:white;
  font-size:20px;
  transition-duration: 222ms;
}
#itm0{
  width:85%;
  height:40px;
  float:right;
  background-color:#424242;
}
#wfn{
  width:15%;
  height:40px;
  float:left;
  background-color:#424242;
  font-size:25px;
  text-align:center;
  color:white;
}
.btn a,
#itm3 a,
#itm2 a,
#itm1 a,
#itm0 a{
  color: inherit;
  text-decoration: none;
}

#itm1:hover{
  background-color:#D8D8D8;
  color:#424242;
}
#itm2:hover{
  background-color:#D8D8D8;
  color:#424242;
}
#itm3:hover{
  background-color:#D8D8D8;
  color:#424242;
}


.boxen{
border-width: 1px;
border-color: #B40404;
border-style:solid;
width:1100px;
height:300px;
margin: 0 auto;
background-color:#FAFAFA;
font-family:arial;
}
#raspberry-box{
  border-width: 1px;
  border-color: #B40404;
  border-style:solid;
  width:1100px;
  height:320px;
  margin: 0 auto;
  background-color:#FAFAFA;
  font-family:arial;
  text-align:left;
}



.btn{
  color:black;
  font-family: Arial;
  font-size:30px;
  font-weight:50;
  text-align:center;
  padding:10px 80px;
  margin: 0 auto;
  transition-duration: 200ms;
  width:940px;
}

.btn:hover{
  background-color:#BDBDBD;
}

.inhalt{
  background-color:#D8D8D8;
  width:90%;
  float:right;

}

.sidebar{
background-color:#424242;
float:left;
width:10%;
height:100%;
height:3890px;

}
.sidebarfixed{
  text-align:center;
  position:fixed;
  width:10%;
  color:white;
}
.sidebarfixed:hover{
color:#424242;
background:#D8D8D8;

}
.sidebarfixed1{
  text-align:center;
  position:fixed;
  width:10%;
  color:black;
  background-color:#B40404;
}
.sidebarfixed1 a{
  color: inherit;
  text-decoration: none;
}
.sidebarfixed a{
  color: inherit;
  text-decoration: none;
}
.sidebarfixed1:hover{
  color:white;
}
.texte{
  text-align: left;
  font-family:Arial;
  padding:10px;
}
p::first-letter {
  font-size: 30px;
  color:#B40404;
}
